@*@{
    ViewData["Title"] = "Home Page";
}*@
<div class="grid wide">
    <div class="row app__content">
        <div class="col l-12 m-12 c-12">
            <div class="product-section">
                <h3 class="product-section-label">
                    <a href="/sanpham.html" class="product-section__link">Sản phẩm bán chạy</a>
                </h3>
                @*<ul class="product-section__list hide-on-mobile-tablet">
                <li class="product-section-item ">
                    <a href="/sanpham.html" class="product-section-item__link product-section-item__link-active">Túi crossbody</a>
                </li>
                <li class="product-section-item">
                    <a href="/sanpham.html" class="product-section-item__link">Túi ly hợp buổi tối</a>
                </li>
                <li class="product-section-item">
                    <a href="/sanpham.html" class="product-section-item__link">Ví tiền</a>
                </li>
            </ul>*@
            </div>

            <div class="product">
                <div class="row sm-gutter product-item-wrapper">
                    <!-- Product item -->
                    @if (ViewBag.Products != null && ViewBag.Products.Count > 0)
                    {
                        @foreach (var item in ViewBag.Products)
                        {
                            <div class="col l-2-4 m-4 c-6 ">
                                <a href="~/@item.Url" class="product-item">
                                    <div class="product-item__img" style="background-image: url(@item.ThumbnailImage);">
                                    </div>
                                    <h4 class="product-item__name">
                                        @item.Name
                                    </h4>
                                    <div class="product-item__price">
                                        <span class="product-item__price-current">@item.DiscountPrice?.ToString("###,###,###") vnđ</span>
                                        @if (item.Discount != null && item.Discount > 0)
                                        {
                                            <span class="product-item__price-old">@item.Price?.ToString("###,###,###")</span>

                                        }
                                    </div>
                                    @if (item.Discount != null && item.Discount > 0)
                                    {
                                        <div class="product-item__sale-off">
                                            <span class="product-item__sale-off-percent">-@item.Discount %</span>
                                        </div>
                                    }
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="grid">
    <div class="row product-collection">

    </div>
</div> -->

<div class="grid wide">
    <!--<div class="row app__content">
        <div class="col l-12 m-12 c-12">
            <div class="product-section">
                <h3 class="product-section-label">
                    <a href="/sanpham.html" class="product-section__link">Sản phẩm bán chạy</a>
                </h3>
                <ul class="product-section__list hide-on-mobile-tablet">
                    <li class="product-section-item ">
                        <a href="/sanpham.html" class="product-section-item__link product-section-item__link-active">Túi crossbody</a>
                    </li>
                    <li class="product-section-item">
                        <a href="/sanpham.html" class="product-section-item__link">Túi ly hợp buổi tối</a>
                    </li>
                    <li class="product-section-item">
                        <a href="/sanpham.html" class="product-section-item__link">Ví tiền</a>
                    </li>
                </ul>
            </div>

            <div class="product">
                <div class="row sm-gutter product-item-wrapper">-->
                    <!-- Product item -->
                    <!--@if (ViewBag.BetsellerProducts != null && ViewBag.BetsellerProducts.Count > 0)
                    {
                        @foreach (var item in ViewBag.BetsellerProducts)
                        {
                            <div class="col l-2-4 m-4 c-6 ">
                                <a href="~/@item.Url" class="product-item">
                                    <div class="product-item__img" style="background-image: url(@item.ThumbnailImage);">
                                    </div>
                                    <h4 class="product-item__name">
                                        @item.Name
                                    </h4>
                                    <div class="product-item__price">
                                        <span class="product-item__price-current">@item.Price vnđ</span>
                                        <span class="product-item__price-old">@item.DiscountPrice</span>
                                    </div>
                                    @if (item.Discount != null && item.Discount > 0)
                                    {
                                        <div class="product-item__sale-off">

                                            <span class="product-item__sale-off-percent">@item.Discount %</span>
                                            <span class="product-item__sale-off-lable">GIẢM</span>
                                        </div>
                                    }
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>-->
    <div class="grid wide">
        <div class="row app__content">
            <div class="col l-12 m-12 c-12">
                <div class="news-section">
                    <h3 class="news-section-label">
                        <a href="/tintuc.html" class="news-section__link">Blog</a>
                    </h3>
                </div>
                <div class="news">
                    <div class="row">
                        @* news item *@
                        @if (ViewBag.News != null && ViewBag.News.Count > 0)
                        {
                            @foreach (var item in ViewBag.News)
                            {
                                <div class="col l-3 m-4 c-12">
                                    <a href="~/tintuc/@item.Url" class="news-item">
                                        <div class="news-item__img"
                                             style="background-image: url(@item.Image);">
                                        </div>
                                        <h3 class="news-item__title">
                                            @item.Title
                                        </h3>
                                        <p class="news-item__description">
                                            @item.Summary
                                        </p>
                                    </a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>