@model ECommerce.Models.Product.EditProductViewModel
@{
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/createProduct.css" rel="stylesheet" />

@if (!string.IsNullOrEmpty(@ViewBag.Error))
{
    <h4 style="color:red">@ViewBag.Error</h4>
}
<form method="post" action="edit" enctype="multipart/form-data">
    <div class="product-field">
        <h3 class="create-product-label">Sửa thông tin sản phẩm</h3>
        <input type="submit" value="Lưu" class="btn btn-primary addnew" />
        <a class="btn btn-primary product-list" href="/admins/product">Danh sách sản phẩm</a>
    </div>
    <div class="product-field">
        <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />
        <label class="product-field-label">Tên <span class="mandatory">*</span></label>
        <input type="text" name="Name" asp-for="Name" class="input product-field-value" value="@Model.Name" />
    </div>
    <div class="product-field">
        <label class="product-field-label">Url <span class="mandatory">*</span></label>
        <input type="text" name="Url" asp-for="Url" class="input product-field-value" value="@Model.Url" />
    </div>
    <div class="product-field">
        <label class="product-field-label">Danh mục <span class="mandatory">*</span></label>
        <select asp-for="CategoryId" name="CategoryId" class="product-field-value product-field-select">
            @if (ViewBag.Categories != null && ViewBag.Categories.Count > 0)
                @foreach (var item in ViewBag.Categories)
                {
                    if (item.Id == Model.Category?.Id)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
        </select>

    </div>
    <div class="product-field">
        <label class="product-field-label">Hình ảnh chính<span class="mandatory">*</span></label>
        <input type="file" asp-for="ThumbnailImage" name="ThumbnailImage" class="input product-field-value" />
    </div>
    <div class="product-field">
        <label class="product-field-label">Hình ảnh phụ<span class="mandatory">*</span></label>
        <input type="file" asp-for="ThumbnailImages" name="ThumbnailImages" class="input product-field-value" multiple />
    </div>
    <div class="product-field">
        <label class="product-field-label"></span></label>
        <img class="img-thumbnail img-thumbnail-custom" width="100" height="100" src="~/@Model.ThumbnailImage" />
    </div>
    <div class="product-field">
        <label class="product-field-label">Bán chạy</label>
        @if (Model.BestSeller)
        {
            <input asp-for="BestSeller" type="checkbox" name="BestSeller" value="@Model.BestSeller" class="input input-checkbox" onchange="this.value=this.checked" checked />
        }
        else
        {
            <input asp-for="BestSeller" type="checkbox" name="BestSeller" value="@Model.BestSeller" class="input input-checkbox" onchange="this.value=this.checked" />
        }
    </div>
    <div class="product-field">
        <label class="product-field-label">Giá <span class="mandatory">*</span></label>
        <input asp-for="Price" type="number" name="Price" class="input input-number" value="@Model.Price.ToString("#.##")" /> <span class="currency">VNĐ</span>
    </div>
    <div class="product-field">
        <label class="product-field-label">Giảm giá(%)</label>
        <input type="number" asp-for="Discount" name="Discount" class="input input-number" value="@Model.Discount" />
    </div>
    <div class="product-field">
        <label class="product-field-label">Mô tả <span class="mandatory">*</span></label>
        <textarea id="editor" name="Description" asp-for="Description" class="product-field-value">@Model.Description</textarea>
    </div>

</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {
            $(function () {
                CKEDITOR.replace('editor', {
                    height: 300,
                    filebrowserUploadUrl: '/uploadCkeditor',
                    filebrowserBrowseUrl: '/filebrowse'
                });
            });
        });
    </script>
}